/* Style icone linkedin */

.icon_linkedin {
    transition : color 500ms ease-out;
}

.icon_linkedin:hover {
    fill : blue;
}

/* Style icone gmail */

.icon_gmail {
    transition : color 500ms ease-out;
}

.icon_gmail:hover {
    fill : red;
}

/* Style icone whatsapp */

.icon_whatsapp {
    transition : color 500ms ease-out;
}

.icon_whatsapp:hover {
    fill : green;
}

/* Style icone instagram */

.icon_instagram {
    transition : color 500ms ease-out;
}

.icon_instagram:hover {
    fill : rgb(255, 0, 106);
}

a{
    text-decoration: none;
}

.liens{
    display: block;
    align-items: baseline;
}

#display {
    display:block;
}

body{
   background: #B6CDE8;
   display:flex;
   justify-content: center;
   text-align: center;
}

.h1,h2{
    color: #c4663d;
}

/* Style boutton my projects */

.button01 {
  margin: auto;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button01:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.button01:active {
  transform: scale(0.95);
}

.img_language{
    width: 35px;
    height: 35px;
    padding-left: 10px;
}